$navTextColor: #4b4b4b;
$headlineColor: #4b4b4b;

$copyTextColor: #4b4b4b;
$newCopyTextColor: #383838;
$copyTextColorLight: #6c6c6c;
$magenta: #e20074;
$blue: #00a1de;
$newsHighlightColor: #8fc140;
$blogHighlightColor: #2aa2ff;
$lineColor: #d0d0d0;