// bower:scss
// endbower

@import 'reset';
@import 'buttons';
@import 'brand-header';
@import "../bower_components/compass-sass-mixins/lib/compass";

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


html, body {
  height: 100%;
}
body {
   min-width: 320px;
  //min-width: 950px;
  background: #fff;
  font-family: 'TeleGrotesk', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;

}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



#preloaderwrap {
  width: 50%;
  margin: 0 auto;
  width: 40%;
  top: 40%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%); 
      -ms-transform: translateX(-50%); 
          transform: translateX(-50%);
  #progress {
    width: 100%;
    font-size: 30px;
    letter-spacing: 0.1em;
    margin: 0 auto;
    //margin: -25px 0 0 -100px;
    text-align: center;
    font-family: 'TeleGrotesk';
    font-weight: 800;
    text-align: center;
  }
  #progressbar {
    .bar {
      //@include box-shadow(cyan 0 0 10px 1px);
      @include transition(all 300ms);
      background-color: #e20074;
      height: 4px;
      display: inline-block;
      width: 0%;
    }
    
    .bar.complete {
      //@include box-shadow(rgba(255, 0, 0, 0) 0 0 10px 10px);
    }
  }
}









// settings
.container-fluid {
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  @media screen and (min-width: 31.250em) {
    padding-left: 20px;
    padding-right: 20px;
  }
  
}

.nav-container {
  h2 {
    text-transform: uppercase;
    font-family: 'TeleGroteskScreen';
    font-weight: 800;
    font-size: $bu;
    line-height: 6em;
    //letter-spacing: px;
    float: left;
  }

  // 400
  @media screen and (min-width: 25em) {
    h2 {
      font-size: $bu*1.2;
      line-height: 5em;
    }
  }
  // 540
  @media screen and (min-width: 33.75em) {
    h2 {
      font-size: $bu*1.5;
      line-height: 4em;
    }
  }
  @media screen and (min-width: 38.75em) {
    h2 {
      font-size: $bu*2; // 24
      line-height: 3em; // 72
      letter-spacing: 1.1;
    }
  }
}
main {
  //height: 100%;
  //min-height: 40.625em;
  min-height: 40.625em;
  width: 100%;
  display: table;
}
#welcome {
  //min-height: 40.625em;
  //height: 40.625em;
  height: auto;
  //height: 100vh;
  //height: 65%;
  display: table-cell;
  display: none;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  -moz-transition: height 1s ease;
  -webkit-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
  .hero-unit {
    //height: 100%;
    text-align: center;
    
    vertical-align: middle;
    
    > div {
    }
    h2 {
      font-family: 'TeleGrotesk';
      font-weight: 600;
      //font-size: 1.75em;
      font-size: 1.3em;
      //margin-bottom: .45em;
      margin-bottom: .45em;
    }
    p {
      font-family: 'TeleGrotesk';
      font-weight: 400;
      font-size: 1.125em;
      letter-spacing: 0.5px;
      margin-bottom: 1.5em;
      a.button {
        font-size: 1.125em;
      }
    }
  }
  @media screen and (min-width: 40em) {
    height: 100%;
    .hero-unit {
      h2 {
        font-size: 1.5em;
        margin-bottom: .75em;
      }
      p {
        margin-bottom: 2.5em;
      }
    }
  }
  @media screen and (min-width: 50em) {
    height: 100%;
    .hero-unit {
      h2 {
        font-size: 1.813em;
        letter-spacing: 0.9px;
      }
    }
  }
}


.box {
  display: inline-block;
  //opacity: 0;
  position: relative;
  vertical-align: top;
  background: #F5F5F5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  padding: 24px 12px;
}

// QUERY 
#welcome {
  //display: none;
  text-align: center;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  #query1 { display: block; }
  //#query2 { display: none; }
  //#query3 { display: none; }
  @media screen and(min-width: 40.000em) {
    //padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
  }
  @media screen and(min-width: 50.000em) {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .query {
    
    //margin-bottom: 40px;
    margin-bottom: 90px;
    h2 {
      font-size: 1.3em;
      //padding-top: 45px;
      padding-top: 10px;
      margin-bottom: 30px;
      font-weight: 400;
      font-family: 'TeleGrotesk';
      //font-weight: 600;
      @media screen and(min-width: 40.000em) {
        font-size: 1.4em;

      }
      @media screen and(min-width: 50.000em) {
        font-size: 1.7em;
      }
    }

    .box {
      display: block;
      //opacity: 0;
      margin: 0 auto;
      position: relative;
      width: 238px;
      height: 300px;
      vertical-align: top;
      background: #F5F5F5;

      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      //margin-right: 0px;
      padding: 24px 12px;
      margin-bottom: 36px;
      @media screen and(min-width: 55.000em) {
        width: 298px;
      }
      @media screen and(min-width: 55.000em) {
        width: 358px;

      }
      > div {
        height: 151px;
        //height: 194px;
        position: relative;
        img {
          position: absolute;
          top: 46%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
        }
      }
      p {
        //height: 160px;
        font-size: 1.2em;
        line-height: 1.2em;
        text-align: center;
        //height: 48px;
        margin-bottom: 20px;
      }
      p + a {
        font-size: 1.2em;
      }
    }
    .box:last-child {
      margin-right: auto;
    }

  }
  .status-indicator-wrapper {
    margin-bottom: 50px;
    ul {
      margin: 0;
      list-style: none;
      li {
        width: 100px;
        height: 4px;
        margin-right: 7px;
        display: inline-block;
        background-color: #d0d0d0;
      }
      li.active {
        background-color: #e20074;
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
  @media screen and (min-width: 40em) {
    .query {
      .box {
        display: inline-block;
        margin-right: 36px;
      }
    }
    .status-indicator-wrapper {
      margin-bottom: auto;
    }
  }
}

.resp-full {
  display: none;

  @media screen and(min-width: 40em){
    display: block;
  }
}
.resp-small {
  display: block;

  @media screen and(min-width: 40em){
    display: none;
  }
}

#result {
  display: none;
  padding-top: 10px;
  overflow: hidden;

  .subcats {
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 6px;
    li {
      display: inline;
      margin-right: 5px;
      padding-left: 2px;
      padding-right: 2px;
      a {
        font-size: 0.8em;
        padding-bottom: 5px;
      }
      a:link, a:visited {
        color: #757575;
      }
      a:hover, a:active {
        color: #383838;
        border-bottom: 4px solid #ededed;
      }
    }
    li.active {
      a {
        color: #383838;
        border-bottom: 4px solid #e20074;
      }
    }

    @media screen and (min-width: 23.750em) {
      
    }

    @media screen and (min-width: 36.250em) {
      padding-left: 22px;
      padding-top: 12px;
      li {
        margin-right: 9px;
        padding-left: 4px;
        padding-right: 4px;
        a {
          font-size: 1.125em;
        }
      }

    }
  }

  .box.overview {
    height: auto;
    min-height: 380px;
    text-align: center;
    position: relative;
    //padding-top: 20px;
    @media screen and (min-width: 47.5em) {
      height: 380px;
      padding-top: 40px;
    }
    h2 {
      display: none;
    }
    img {
      //width: auto;
      //max-width: 100%;
    }
    img.full {
      width: 650px;
    }
    // 800
    @media screen and (min-width: 50em){
      height: 415px;
      img.full { width: 720px; }
    }
    // 990
    @media screen and (min-width: 61.875em){
      height: 485px;
      img.full { width: 899px; }
    }

    .hotspots {
      margin: 0; padding: 0;
      position: absolute;
      li::before {
        content: counter(hs-counter);
        display: inline-block;
        padding: 2px 0px;
        padding-top: 0px;

        background-image: url(../images/oval.svg);
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: 0 1px;
        width: 30px;
        height: 30px;
        line-height: 28px;
        text-indent: -5px;
        margin-left: -28px;
        padding-left: 0px;
        //margin-left: 10px;
        //margin-right: 10px;
        color: white;
        font-family: 'TeleGrotesk';
        font-size: 19px;
        font-weight: 400;
      }
      li {
        position: absolute;
        counter-increment: hs-counter;
        text-indent: 0px;

      }
    }
  }
  .box {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 12px;
    overflow: hidden;

    h2 {
      font-size: 25px;
      font-family: 'TeleGrotesk';
      font-weight: 400;
      margin: 0;
      padding: 0;
      padding-left: 40px;
      margin-bottom: 20px;
      letter-spacing: 1.1px;
      @media screen and (min-width: 50em){
        font-size: 25px;
      }
      @media screen and (min-width: 61.875em){
        font-size: 26px;
        width: 103%;
      }

    }
    img.full {
      display: none;
    }
    img.mobile {
      text-align: center;
      width: 270px;
      display: inline-block;
      @media screen and (min-width: 25.625em){
        width: 370px;

      }

    }
    .img {
      text-align: center;
      //width: 545px;
    }
    .copy {
      p {
        margin-bottom: 20px;
        line-height: 1.2;
      }
      ol {
        margin-top: 0;
        list-style-type: none;
        list-style-position: outside;
        padding: 0;
        margin-left: -2px;
        
        li::before {
          content: counter(step-counter,upper-alpha);

          //margin-right: 5px;
          //font-size: 80%;
          //background-color: $magenta-color;
          display: inline-block;
          padding: 2px 0px;
          padding-top: 0px;

          background-image: url(../images/oval.svg);
          background-repeat: no-repeat;
          background-size: 17px 17px;
          background-position: 0 0px;
          width: 22px;
          height: 18px;
          text-indent: 5px;
          margin-left: -25px;
          padding-left: 0px;
          //margin-left: 10px;
          //margin-right: 10px;
          color: white;
          font-family: 'TeleGrotesk';
          font-size: 13px;
          font-weight: 400;
          //line-height: 25px;
        }
        li {
          //margin-bottom: 30px;
          counter-increment: step-counter;
          text-indent: 0px;
          padding-left: 23px;
          line-height: 1.20em;
          padding-right: -5px;
          letter-spacing: 0.2px;
          margin-bottom: 22px;
          font-family: 'TeleGrotesk';
          
          font-weight: 400;
        }
        li:last-child {
          margin-bottom: 0;
        }
      }
    }
    @media screen and (min-width: 47.5em) {
      img.mobile {
        display: none;
      }
      img.full {
        display: inline-block;
        vertical-align: top;
      }
      .img {
        display: inline-block;
        width: 357.82828282828285px;

        @media screen and (min-width: 50em){
          width: 396.3636363636364px;
        }
        @media screen and (min-width: 61.875em){
          width: 545px;
        }
        img {
          width: 357.82828282828285px;

          @media screen and (min-width: 50em){
            width: 396.3636363636364px;
          }
          @media screen and (min-width: 61.875em){
            width: 545px;
          }

        }
      }
      .copy {
        float: right;
        //width: 460px;
        max-width: 340px;
        margin-right: 0;
        vertical-align:top;
      }
    }
  }
  .box:not(.overview) {
    counter-increment: box-counter;
    h2::before {
      content: counter(box-counter);
      display: inline-block;
      background-image: url(../images/oval.svg);
      background-repeat: no-repeat;
      background-size: 28px 28px;
      width: 28px;
      height: 28px;
      padding-top: 5px;
      background-position: 0 0px;
      margin-left: -40px;
      text-indent: 9px;
      font-family: 'TeleGrotesk';
      font-size: 22px;
      font-weight: 600;
      margin-right: 11px;
      color: #fff;
    }
    h2 {
      padding-top: 2px;
    }
  }

}


body.internet #result .box {
  img.satellit { display: none; }
}
body.satellit #result .box {
  img.internet { display: none; }
}

body #result.kabel .box {
  img.lan, img.powerline { display: none; }
}
body #result.lan .box {
  img.kabel, img.powerline { display: none; }
}
body #result.powerline .box {
  img.lan, img.kabel { display: none; }
}

#result .box .headf { display: none; }
#result.res-internet-kabel .box     .head-internet-kabel { display: block; }
#result.res-internet-lan .box       .head-internet-lan { display: block; }
#result.res-internet-powerline .box .head-internet-powerline { display: block; }
#result.res-satellit-kabel .box     .head-satellit-kabel { display: block; }
#result.res-satellit-lan .box       .head-satellit-lan { display: block; }
#result.res-satellit-powerline .box .head-satellit-powerline { display: block; }

#result .box .copyf { display: none; }
#result.res-internet-kabel .box     .copy-internet-kabel { display: block; }
#result.res-internet-lan .box       .copy-internet-lan { display: block; }
#result.res-internet-powerline .box .copy-internet-powerline { display: block; }
#result.res-satellit-kabel .box     .copy-satellit-kabel { display: block; }
#result.res-satellit-lan .box       .copy-satellit-lan { display: block; }
#result.res-satellit-powerline .box .copy-satellit-powerline { display: block; }

#result.res-internet-kabel .step5a { display: none !important; }
#result.res-internet-lan .step5a { display: none !important; }
#result.res-internet-powerline .step5a { display: none !important; }

#result .box .imgf { display: none; }


#result.res-internet-kabel .box     .img-internet-kabel-full { display: block; }
#result.res-internet-lan .box       .img-internet-lan-full { display: block; }
#result.res-internet-powerline .box .img-internet-powerline-full { display: block; }
#result.res-satellit-kabel .box     .img-satellit-kabel-full { display: block; }
#result.res-satellit-lan .box       .img-satellit-lan-full { display: block; }
#result.res-satellit-powerline .box .img-satellit-powerline-full { display: block; }

@media screen and (min-width: 47.5em) { 
  #result.res-internet-kabel .box     .img-internet-kabel-full { display: inline-block; }
  #result.res-internet-lan .box       .img-internet-lan-full { display: inline-block; }
  #result.res-internet-powerline .box .img-internet-powerline-full { display: inline-block; }
  #result.res-satellit-kabel .box     .img-satellit-kabel-full { display: inline-block; }
  #result.res-satellit-lan .box       .img-satellit-lan-full { display: inline-block; }
  #result.res-satellit-powerline .box .img-satellit-powerline-full { display: inline-block; }
}

.hotspots {
  z-index: 9000;
  width: 100%;
  height: 100%;
  li {
    cursor: pointer;
  }

}
.hotspots { width: 315px; left: 50%; transform: translateX(-50%); list-style: none; }
li.hs {
  transition: top 1s ease-out 0s, left 1s ease-out 0s;
}

li.hs-step1 { left: 35%; top: 150px; }
li.hs-step2 { left: 73%; top: 150px; }
li.hs-step3 { left: 11%; top: 150px; }
li.hs-step4 { left: 29%; top: 283px; }
li.hs-step5 { left: 29%; top: 334px; }
li.hs-step6 { left: 68%; top: 124px; }
li.hs-step6 { display: none; }


#result.res-satellit-lan, #result.res-satellit-powerline,
#result.res-internet-lan, #result.res-internet-powerline {
  li.hs-step1 { left: 35%; top: 150px; }
  li.hs-step2 { left: 73%; top: 150px; }
  li.hs-step3 { left: 11%; top: 150px; }
  li.hs-step4 { left: 33%; top: 258px; }
  li.hs-step5 { left: 29%; top: 494px; }
  li.hs-step6 { left: 68%; top: 124px; }
  li.hs-step6 { display: none !important; }
}
#result.res-internet-powerline,
#result.res-satellit-powerline {
  li.hs-step4 { left: 33%; top: 268px; }
  li.hs-step5 { left: 29%; top: 544px; }
}

#result.res-satellit-kabel {
  li.hs-step5 { left: 239px; top: 250px; }
  li.hs-step6 { left: 94px; top: 340px; display: list-item !important; }
}
#result.res-satellit-lan {
  li.hs-step4 { left: 33%; top: 258px; }
  li.hs-step5 { left: 239px; top: 416px; }
  li.hs-step6 { left: 94px; top: 494px; display: list-item !important; }
}
#result.res-satellit-powerline {
  li.hs-step1 { left: 35%; top: 150px; }
  li.hs-step2 { left: 73%; top: 150px; }
  li.hs-step3 { left: 11%; top: 150px; }
  li.hs-step4 { left: 33%; top: 268px; }
  li.hs-step5 { left: 239px; top: 466px; }
  li.hs-step6 { left: 94px; top: 544px; display: list-item !important; }
}


@media screen and (min-width: 25.625em){
  .hotspots { width: 370px; left: 50%; transform: translateX(-50%); }
  li.hs-step1 { left: 30%; top: 200px; }
  li.hs-step2 { left: 72%; top: 200px; }
  li.hs-step3 { left: 6%; top: 200px; }
  li.hs-step4 { left: 24%; top: 395px; }
  li.hs-step5 { left: 24%; top: 460px; }
  li.hs-step6 { left: 68%; top: 124px; }
  li.hs-step6 { display: none !important; }


  #result.res-satellit-lan, #result.res-satellit-powerline,
  #result.res-internet-lan, #result.res-internet-powerline {
    li.hs-step1 { left: 30%; top: 200px; }
    li.hs-step2 { left: 72%; top: 200px; }
    li.hs-step3 { left: 6%; top: 200px; }
    li.hs-step4 { left: 33%; top: 355px; }
    li.hs-step5 { left: 24%; top: 680px; }
    li.hs-step6 { left: 68%; top: 124px; }
    li.hs-step6 { display: none !important; }
  }
  #result.res-internet-powerline,
  #result.res-satellit-powerline {
    li.hs-step4 { left: 33%; top: 385px; }
    li.hs-step5 { left: 24%; top: 750px; }
  }
  #result.res-satellit-kabel {
    li.hs-step5 { left: 299px; top: 350px; }
    li.hs-step6 { left: 94px; top: 464px; display: list-item !important; }
  }
  #result.res-satellit-lan, #result.res-satellit-powerline {
    li.hs-step4 { left: 33%; top: 368px; }
    li.hs-step5 { left: 299px; top: 580px; }
    li.hs-step6 { left: 94px; top: 684px; display: list-item !important; }
  }
  #result.res-satellit-powerline {
    li.hs-step1 { left: 30%; top: 200px; }
    li.hs-step2 { left: 72%; top: 200px; }
    li.hs-step3 { left: 6%; top: 200px; }
    li.hs-step4 { left: 33%; top: 378px; }
    li.hs-step5 { left: 299px; top: 650px; }
    li.hs-step6 { left: 94px; top: 744px; display: list-item !important; }

  }
}


@media screen and (min-width: 47.5em){
  .hotspots { width: 650px; left: 50%; transform: translateX(-50%); }
  li.hs-step1 { left: 28%; top: 164px; }
  li.hs-step2 { left: 31%; top: 0px; }
  li.hs-step3 { left: 37%; top: 255px; }
  li.hs-step4 { left: 45%; top: 150px; }
  li.hs-step5 { left: 72%; top: 94px; }
  li.hs-step6 { left: 450px; top: 124px; }
  li.hs-step6 { display: none !important; }

  #result.res-satellit-lan, #result.res-satellit-powerline,
  #result.res-internet-lan, #result.res-internet-powerline {
    li.hs-step1 { left: 15%; top: 164px; }
    li.hs-step2 { left: 19%; top: 0px; }
    li.hs-step3 { left: 25%; top: 255px; }
    li.hs-step4 { left: 41.4%; top: 100px; }
    li.hs-step5 { left: 84%; top: 94px; }
    li.hs-step6 { display: none !important; }
  }
  #result.res-satellit-kabel {
    li.hs-step5 { left: 339px; top: 20px; }
    li.hs-step6 { left: 470px; top: 83px; display: list-item !important; }
  }
  #result.res-satellit-lan, #result.res-satellit-powerline {
    li.hs-step5 { left: 419px; top: 20px; }
    li.hs-step6 { left: 544px; top: 84px; display: list-item !important; }
  }
}

@media screen and (min-width: 50em){
  .hotspots { width: 720px; left: 50%; transform: translateX(-50%); }
  li.hs-step1 { left: 27%; top: 174px; }
  li.hs-step2 { left: 30%; top: 11px; }
  li.hs-step3 { left: 38%; top: 285px; }
  li.hs-step4 { left: 44%; top: 130px; }
  li.hs-step5 { left: 72%; top: 94px; }
  li.hs-step6 { left: 450px; top: 124px; }
  li.hs-step6 { display: none !important; }


  #result.res-satellit-lan, #result.res-satellit-powerline,
  #result.res-internet-lan, #result.res-internet-powerline {
    li.hs-step1 { left: 15%; top: 174px; }
    li.hs-step2 { left: 18%; top: 11px; }
    li.hs-step3 { left: 18%; top: 285px; }
    li.hs-step4 { left: 41.3%; top: 110px; }
    li.hs-step5 { left: 84%; top: 94px; }
    li.hs-step6 { display: none !important; }
  }
  #result.res-satellit-kabel {
    li.hs-step5 { left: 379px; top: 30px; }
    li.hs-step6 { left: 520px; top: 90px; display: list-item !important; }
  }
  #result.res-satellit-lan, #result.res-satellit-powerline {
    li.hs-step5 { left: 469px; top: 30px; }
    li.hs-step6 { left: 600px; top: 94px; display: list-item !important; }
  }
}
// 990 - biggest
@media screen and (min-width: 61.875em){
  .hotspots { width: 100%; left: 50%; transform: translateX(-50%); }
  li.hs-step1 { left: 240px; top: 224px; }
  li.hs-step2 { left: 278px; top: 11px; }
  li.hs-step3 { left: 326px; top: 345px; }
  li.hs-step4 { left: 410px; top: 170px; }
  li.hs-step5 { left: 650px; top: 124px; }
  li.hs-step6 { left: 450px; top: 124px; }

  #result.res-satellit-lan, #result.res-satellit-powerline,
  #result.res-internet-lan, #result.res-internet-powerline {
    li.hs-step1 { left: 130px; top: 224px; }
    li.hs-step2 { left: 168px; top: 11px; }
    li.hs-step3 { left: 236px; top: 345px; }
    li.hs-step4 { left: 378px; top: 150px; }
    li.hs-step5 { left: 760px; top: 124px; }
    li.hs-step6 { left: 760px; top: 124px; }
    li.hs-step6 { display: none !important;  }
  }
  #result.res-satellit-kabel {
    li.hs-step5 { left: 489px; top: 30px; }
    li.hs-step6 { left: 660px; top: 124px; display: list-item !important; }
  }
  #result.res-satellit-lan, #result.res-satellit-powerline {
    li.hs-step5 { left: 599px; top: 30px; }
    li.hs-step6 { left: 770px; top: 124px; display: list-item !important; }
  }
}




// -110 + 110









.dtx footer {
  border-top: 1px solid #ededed;
  .copyright {
    float: none;
    p {
      
      padding-left: 15px;
      line-height: $bu*3;
      font-size: $bu*1.3;
      text-transform: uppercase;
      color: #757575;
    }
    
  }
  nav {
    ul {
      li {
        display: inline;
      }
    }
  }
  @media screen and (min-width: 40em) {
    .copyright {
      float: left;
      p {
        padding-left: $bu*2;
        line-height: 72px;
        font-size: $bu*1.0833333;
      }
    }
    nav {
      float: right;
      ul {
        li {
          display: table-cell;
        }
      }
    }
  }
}



/**
 * 16.4 Desktop Small 955px
 *
 * DESKTOP NAVI STARTS HERE
 */
@media screen and (min-width: 59.6875em) {

}


.stepper {
  z-index: 2000;
  position: fixed;
  bottom: 10px;
  right: 10px;
  a.button {
    font-size: 16px;
  }
}


// TEMPORARY
// #welcome { display: none; }
// #query {display: none; }
// #result { display: block; }
 #result .box {display: none;}



